doctype html(lang='en')
head
    meta(charset='utf-8')
    |         
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    |         
    meta(name='viewport', content='width=device-width, initial-scale=1')
    |         
    meta(name='description', content='')
    |         
    meta(name='author', content='')
    |         
    title Elevator - Multipurpose Bootstrap Theme
    // Bootstrap Core CSS
    link(href='bootstrap/css/bootstrap.min.css', rel='stylesheet')
    // Font Awesome CSS
    link(href='css/Profilepage_font-awesome.min.css', rel='stylesheet')
    // Custom CSS
    link(href='css/Profilepage_animate.css', rel='stylesheet')
    // Custom CSS
    link(href='css/Profilepage_style.css', rel='stylesheet')
    // Custom Fonts
    link(href='http://fonts.googleapis.com/css?family=Lobster', rel='stylesheet', type='text/css')
    // Template js
    script(src='js/Profilepage_jquery-2.1.1.min.js')
    |         
    script(src='bootstrap/js/bootstrap.min.js')
    |         
    script(src='js/Profilepage_jquery.appear.js')
    |         
    script(src='js/Profilepage_contact_me.js')
    |         
    script(src='js/Profilepage_jqBootstrapValidation.js')
    |         
    script(src='js/Profilepage_modernizr.custom.js')
    |         
    script(src='js/Profilepage_script.js')
    //if lt IE 9
    script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
    |             
    script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')

  body
    // Start Logo Section
    section#logo-section.text-center
      .container
        .row
          .col-md-12
            .logo.text-center
              h1 #{user}
              // <span>Your Business Field</span>
    // End Logo Section
    // Start Main Body Section
    .mainbody-section.text-center
      .container
        .row
          .col-md-3
            .menu-item.blue
              a(href='/essay', data-toggle='modal')
                i.fa.fa-magic
                |                                 
                p Write new essay
            |                         
            |                         
            .menu-item.green
              a(href='/viewEssay', data-toggle='modal')
                i.fa.fa-file-photo-o
                |                                 
                p Review an essay
            //
              <div class="menu-item light-red">
              <a href="#about-modal" data-toggle="modal">
              <i class="fa fa-user"></i>
              <p>About Us</p>
              </a>
              </div>
          |                     
          |                     
          .col-md-6
            // Start Carousel Section
            .home-slider
              #carousel-example-generic.carousel.slide(data-ride='carousel', style='padding-bottom: 30px;')
                // Indicators
                ol.carousel-indicators
                  li.active(data-target='#carousel-example-generic', data-slide-to='0')
                  |                                     
                  li(data-target='#carousel-example-generic', data-slide-to='1')
                  |                                     
                  li(data-target='#carousel-example-generic', data-slide-to='2')
                // Wrapper for slides
                .carousel-inner
                  .item.active
                    img.img-responsive(src='images/about-03.jpg', alt='')
                  |                                     
                  .item
                    img.img-responsive(src='images/about-02.jpg', alt='')
                  |                                     
                  .item
                    img.img-responsive(src='images/about-01.jpg', alt='')
            // Start Carousel Section
            .row
              .col-md-6
                .menu-item.color.responsive
                  a(href='#service-modal', data-toggle='modal')
                    i.fa.fa-area-chart
                    |                                         
                    p Performance evaluation
              |                             
              |                             
              .col-md-6
                .menu-item.light-orange.responsive-2
                  a(href='#team-modal', data-toggle='modal')
                    i.fa.fa-users
                    |                                         
                    p Pool of essays
          |                     
          |                     
          .col-md-3
            .menu-item.light-red
              a(href='#contact-modal', data-toggle='modal')
                i.fa.fa-envelope-o
                |                                 
                p Reviewed essays
            |                         
            |                         
            .menu-item.color
              a(href='#testimonial-modal', data-toggle='modal')
                i.fa.fa-comment-o
                |                                 
                p Pending essays
            //
              <div class="menu-item blue">
              <a href="#news-modal" data-toggle="modal">
              <i class="fa fa-mortar-board"></i>
              <p>Latest News</p>
              </a>
              </div>
    // End Main Body Section
    // Start Copyright Section
    //
      <div class="copyright text-center">
      <div class="container">
      <div class="row">
      <div class="col-md-12">
      <div>Design & Developed by <a href="https://www.facebook.com/Shahriyar.Ahmed.Sohel" target="_blank">Shahriyar Ahmed</a> for <a href="http://graygrids.com">GrayGrids</a></div>
      </div>
      </div>
      </div>
      </div>
    // End Copyright Section
    // Start Feature Section
    #feature-modal.section-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
      .modal-content
        .close-modal(data-dismiss='modal')
          .lr
            .rl
    // End Feature Section
    // Start Portfolio Section
    #portfolio-modal.section-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
      .modal-content
        .close-modal(data-dismiss='modal')
          .lr
            .rl
        |                 
        |                 
        .container
          .row
            .section-title.text-center
              h3 Our Portfolio
              |                             
              p Duis aute irure dolor in reprehenderit in voluptate
          |                     
          .row
            .col-md-4
              .portfolio-item
                img.img-responsive(src='images/portfolio/1.png', alt='...')
                |                                 
                .portfolio-details.text-center
                  h4 Project Name
                  |                                     
                  a(href='#')
                    i.fa.fa-link
            |                         
            |                         
            .col-md-4
              .portfolio-item
                img.img-responsive(src='images/portfolio/2.png', alt='...')
                |                                 
                .portfolio-details.text-center
                  h4 Project Name
                  |                                     
                  a(href='#')
                    i.fa.fa-link
            |                         
            |                         
            .col-md-4
              .portfolio-item
                img.img-responsive(src='images/portfolio/3.png', alt='...')
                |                                 
                .portfolio-details.text-center
                  h4 Project Name
                  |                                     
                  a(href='#')
                    i.fa.fa-link
            |                         
            |                         
            .col-md-4
              .portfolio-item
                img.img-responsive(src='images/portfolio/4.png', alt='...')
                |                                 
                .portfolio-details.text-center
                  h4 Project Name
                  |                                     
                  a(href='#')
                    i.fa.fa-link
            |                         
            |                         
            .col-md-4
              .portfolio-item
                img.img-responsive(src='images/portfolio/5.png', alt='...')
                |                                 
                .portfolio-details.text-center
                  h4 Project Name
                  |                                     
                  a(href='#')
                    i.fa.fa-link
            |                         
            |                         
            .col-md-4
              .portfolio-item
                img.img-responsive(src='images/portfolio/6.png', alt='...')
                |                                 
                .portfolio-details.text-center
                  h4 Project Name
                  |                                     
                  a(href='#')
                    i.fa.fa-link
            |                         
            |                         
            .col-md-4
              .portfolio-item
                img.img-responsive(src='images/portfolio/7.png', alt='...')
                |                                 
                .portfolio-details.text-center
                  h4 Project Name
                  |                                     
                  a(href='#')
                    i.fa.fa-link
            |                         
            |                         
            .col-md-4
              .portfolio-item
                img.img-responsive(src='images/portfolio/8.png', alt='...')
                |                                 
                .portfolio-details.text-center
                  h4 Project Name
                  |                                     
                  a(href='#')
                    i.fa.fa-link
            |                         
            |                         
            .col-md-4
              .portfolio-item
                img.img-responsive(src='images/portfolio/9.png', alt='...')
                |                                 
                .portfolio-details.text-center
                  h4 Project Name
                  |                                     
                  a(href='#')
                    i.fa.fa-link
            |                         
            |                         
            .col-md-4
              .portfolio-item
                img.img-responsive(src='images/portfolio/10.png', alt='...')
                |                                 
                .portfolio-details.text-center
                  h4 Project Name
                  |                                     
                  a(href='#')
                    i.fa.fa-link
            |                         
            |                         
            .col-md-4
              .portfolio-item
                img.img-responsive(src='images/portfolio/11.png', alt='...')
                |                                 
                .portfolio-details.text-center
                  h4 Project Name
                  |                                     
                  a(href='#')
                    i.fa.fa-link
            |                         
            |                         
            .col-md-4
              .portfolio-item
                img.img-responsive(src='images/portfolio/12.png', alt='...')
                |                                 
                .portfolio-details.text-center
                  h4 Project Name
                  |                                     
                  a(href='#')
                    i.fa.fa-link
          // /.row
    // End Portfolio Section
    // Start About Us Section
    //
      <div class="section-modal modal fade" id="about-modal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
      <div class="lr">
      <div class="rl">
      </div>
      </div>
      </div>
      <div class="container">
      <div class="row">
      <div class="section-title text-center">
      <h3>About Us</h3>
      <p>Duis aute irure dolor in reprehenderit in voluptate</p>
      </div>
      </div>
      <div class="row">
      <div class="col-md-12">
      <div class="about-text">
      <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident. It has roots in a piece of classical Latin literature from 45 BC</p>
      <div class="row">
      <div class="col-md-4 col-sm-6">
      <ul>
      <li><i class="fa fa-check-square"></i>Sed ut perspiciatis unde omnis iste natus</li>
      <li><i class="fa fa-check-square"></i>Nor again is there anyone who loves</li>
      <li><i class="fa fa-check-square-o"></i>At vero eos et accusamus et iusto odio</li>
      <li><i class="fa fa-check-square-o"></i>Et harum quidem rerum facilis</li>
      </ul>
      </div>
      <div class="col-md-4 col-sm-6">
      <ul>
      <li><i class="fa fa-check-square"></i>Nor again is there anyone who loves</li>
      <li><i class="fa fa-check-square"></i>Nor again is there anyone who loves</li>
      <li><i class="fa fa-check-square-o"></i>Et harum quidem rerum facilis</li>
      <li><i class="fa fa-check-square-o"></i>At vero eos et accusamus et iusto odio</li>
      </ul>
      </div>
      <div class="col-md-4 col-sm-6">
      <ul>
      <li><i class="fa fa-check-square"></i>Nor again is there anyone who loves</li>
      <li><i class="fa fa-check-square"></i>Nor again is there anyone who loves</li>
      <li><i class="fa fa-check-square-o"></i>Et harum quidem rerum facilis</li>
      <li><i class="fa fa-check-square-o"></i>At vero eos et accusamus et iusto odio</li>
      </ul>
      </div>
      </div>
    // /.row
    //
      </div>
      </div>
      </div>
    // /.row
    //
      <div class="row">
      <div class="col-md-6 col-sm-6">
      <div class="skill-shortcode">
    // Progress Bar
    //
      <div class="skill">
      <p>Web Design</p>
      <div class="progress">
      <div class="progress-bar" role="progressbar"  data-percentage="60">
      <span class="progress-bar-span" >60%</span>
      <span class="sr-only">60% Complete</span>
      </div>
      </div>
      </div>
    // Progress Bar
    //
      <div class="skill">
      <p>HTML & CSS</p>
      <div class="progress">
      <div class="progress-bar" role="progressbar"  data-percentage="95">
      <span class="progress-bar-span" >95%</span>
      <span class="sr-only">95% Complete</span>
      </div>
      </div>
      </div>
    // Progress Bar
    //
      <div class="skill">
      <p>Wordpress</p>
      <div class="progress">
      <div class="progress-bar" role="progressbar"  data-percentage="80">
      <span class="progress-bar-span" >80%</span>
      <span class="sr-only">80% Complete</span>
      </div>
      </div>
      </div>
    // Progress Bar
    //
      <div class="skill">
      <p>Joomla</p>
      <div class="progress">
      <div class="progress-bar" role="progressbar"  data-percentage="100">
      <span class="progress-bar-span" >100%</span>
      <span class="sr-only">100% Complete</span>
      </div>
      </div>
      </div>
    // Progress Bar
    //
      <div class="skill">
      <p>Extension</p>
      <div class="progress">
      <div class="progress-bar" role="progressbar"  data-percentage="70">
      <span class="progress-bar-span" >70%</span>
      <span class="sr-only">70% Complete</span>
      </div>
      </div>
      </div>
      </div>
      </div>
      <div class="col-md-6">
      <div class="custom-tab">
      <ul class="nav nav-tabs nav-justified" role="tablist">
      <li class="active"><a href="#tab-1" role="tab" data-toggle="tab">Our Mission</a></li>
      <li><a href="#tab-2" role="tab" data-toggle="tab">Our Vission</a></li>
      <li><a href="#tab-3" role="tab" data-toggle="tab">Company History</a></li>
      </ul>
      <div class="tab-content">
      <div class="tab-pane active" id="tab-1">
      <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.</p>
      <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
      </div>
      <div class="tab-pane" id="tab-2">
      <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.</p>
      <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
      </div>
      <div class="tab-pane" id="tab-3">
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
      <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
      </div>
      </div>
    // /.tab-content
    //
      </div>
      </div>
      </div>
      </div>
      </div>
      </div>
    // End About Us Section
    // Start Service Section
    #service-modal.section-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
      .modal-content
        .close-modal(data-dismiss='modal')
          .lr
            .rl
        |                 
        |                 
        .container
          .row
            .section-title.text-center
              h3 Our Services
              |                             
              p Duis aute irure dolor in reprehenderit in voluptate
          |                     
          .row
            .col-md-4.col-sm-6.col-xs-12
              .feature-2
                .media
                  i.fa.fa-magic.pull-left
                  |                                     
                  .media-body
                    h4.media-heading Web Design
                    |                                         
                    p
                      | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor. reprehenderit
            // /.col-md-4
            .col-md-4.col-sm-6.col-xs-12
              .feature-2
                .media
                  i.fa.fa-css3.pull-left
                  |                                     
                  .media-body
                    h4.media-heading HTML5 &amp; CSS3
                    |                                         
                    p
                      | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor. reprehenderit
            // /.col-md-4
            .col-md-4.col-sm-6.col-xs-12
              .feature-2
                .media
                  i.fa.fa-wordpress.pull-left
                  |                                     
                  .media-body
                    h4.media-heading Wordpress Theme
                    |                                         
                    p
                      | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor. reprehenderit
            // /.col-md-4
            .col-md-4.col-sm-6.col-xs-12
              .feature-2
                .media
                  i.fa.fa-plug.pull-left
                  |                                     
                  .media-body
                    h4.media-heading Wordpress Plugin
                    |                                         
                    p
                      | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor. reprehenderit
            // /.col-md-4
            .col-md-4.col-sm-6.col-xs-12
              .feature-2
                .media
                  i.fa.fa-joomla.pull-left
                  |                                     
                  .media-body
                    h4.media-heading Joomla Template
                    |                                         
                    p
                      | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor. reprehenderit
            // /.col-md-4
            .col-md-4.col-sm-6.col-xs-12
              .feature-2
                .media
                  i.fa.fa-cube.pull-left
                  |                                     
                  .media-body
                    h4.media-heading Joomla Extension
                    |                                         
                    p
                      | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor. reprehenderit
            // /.col-md-4
          // /.row
        |                 
        |                 
        .pricing-section
          .container
            .row
              .col-md-3.col-sm-6
                .pricing-table
                  .plan-name
                    h3 Free
                  |                                     
                  .plan-price
                    .price-value
                      | $49
                      span .00
                    |                                         
                    .interval per month
                  |                                     
                  .plan-list
                    ul
                      li 40 GB Storage
                      |                                             
                      li 40GB Transfer
                      |                                             
                      li 10 Domains
                      |                                             
                      li 20 Projects
                      |                                             
                      li Free installation
                  |                                     
                  .plan-signup
                    a.btn-system.btn-small(href='#') Sign Up Now
              |                             
              .col-md-3.col-sm-6
                .pricing-table
                  .plan-name
                    h3 Standard
                  |                                     
                  .plan-price
                    .price-value
                      | $49
                      span .00
                    |                                         
                    .interval per month
                  |                                     
                  .plan-list
                    ul
                      li 40 GB Storage
                      |                                             
                      li 40GB Transfer
                      |                                             
                      li 10 Domains
                      |                                             
                      li 20 Projects
                      |                                             
                      li Free installation
                  |                                     
                  .plan-signup
                    a.btn-system.btn-small(href='#') Sign Up Now
              |                             
              .col-md-3.col-sm-6
                .pricing-table
                  .plan-name
                    h3 Premium
                  |                                     
                  .plan-price
                    .price-value
                      | $49
                      span .00
                    |                                         
                    .interval per month
                  |                                     
                  .plan-list
                    ul
                      li 40 GB Storage
                      |                                             
                      li 40GB Transfer
                      |                                             
                      li 10 Domains
                      |                                             
                      li 20 Projects
                      |                                             
                      li Free installation
                  |                                     
                  .plan-signup
                    a.btn-system.btn-small(href='#') Sign Up Now
              |                             
              .col-md-3.col-sm-6
                .pricing-table
                  .plan-name
                    h3 Professional
                  |                                     
                  .plan-price
                    .price-value
                      | $49
                      span .00
                    |                                         
                    .interval per month
                  |                                     
                  .plan-list
                    ul
                      li 40 GB Storage
                      |                                             
                      li 40GB Transfer
                      |                                             
                      li 10 Domains
                      |                                             
                      li 20 Projects
                      |                                             
                      li Free installation
                  |                                     
                  .plan-signup
                    a.btn-system.btn-small(href='#') Sign Up Now
    // End Service Section
    // Start Team Member Section
    #team-modal.section-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
      .modal-content
        .close-modal(data-dismiss='modal')
          .lr
            .rl
        |                 
        |                 
        .container
          .row
            .section-title.text-center
              h3 Our Expert Team
              |                             
              p Duis aute irure dolor in reprehenderit in voluptate
          |                     
          .row
            .col-md-3.col-sm-6
              .team-member
                img.img-responsive(src='images/team/manage-1.png', alt='')
                |                                 
                .team-details
                  h4 John Doe
                  |                                     
                  .designation Senior Web Developer
                  |                                     
                  ul(style='text-align: center;')
                    li
                      a(href='#')
                        i.fa.fa-facebook
                    |                                         
                    li
                      a(href='#')
                        i.fa.fa-twitter
                    |                                         
                    li
                      a(href='#')
                        i.fa.fa-linkedin
                    |                                         
                    li
                      a(href='#')
                        i.fa.fa-dribbble
                    |                                         
                    li
                      a(href='#')
                        i.fa.fa-google-plus
            |                         
            .col-md-3.col-sm-6
              .team-member
                img.img-responsive(src='images/team/manage-2.png', alt='')
                |                                 
                .team-details
                  h4 John Doe
                  |                                     
                  .designation Senior Web Developer
                  |                                     
                  ul(style='text-align: center;')
                    li
                      a(href='#')
                        i.fa.fa-facebook
                    |                                         
                    li
                      a(href='#')
                        i.fa.fa-twitter
                    |                                         
                    li
                      a(href='#')
                        i.fa.fa-linkedin
                    |                                         
                    li
                      a(href='#')
                        i.fa.fa-dribbble
                    |                                         
                    li
                      a(href='#')
                        i.fa.fa-google-plus
            |                         
            .col-md-3.col-sm-6
              .team-member
                img.img-responsive(src='images/team/manage-3.png', alt='')
                |                                 
                .team-details
                  h4 John Doe
                  |                                     
                  .designation Senior Web Developer
                  |                                     
                  ul(style='text-align: center;')
                    li
                      a(href='#')
                        i.fa.fa-facebook
                    |                                         
                    li
                      a(href='#')
                        i.fa.fa-twitter
                    |                                         
                    li
                      a(href='#')
                        i.fa.fa-linkedin
                    |                                         
                    li
                      a(href='#')
                        i.fa.fa-dribbble
                    |                                         
                    li
                      a(href='#')
                        i.fa.fa-google-plus
            |                         
            .col-md-3.col-sm-6
              .team-member
                img.img-responsive(src='images/team/manage-4.png', alt='')
                |                                 
                .team-details
                  h4 John Doe
                  |                                     
                  .designation Senior Web Developer
                  |                                     
                  ul(style='text-align: center;')
                    li
                      a(href='#')
                        i.fa.fa-facebook
                    |                                         
                    li
                      a(href='#')
                        i.fa.fa-twitter
                    |                                         
                    li
                      a(href='#')
                        i.fa.fa-linkedin
                    |                                         
                    li
                      a(href='#')
                        i.fa.fa-dribbble
                    |                                         
                    li
                      a(href='#')
                        i.fa.fa-google-plus
            |                         
            .col-md-3.col-sm-6
              .team-member
                img.img-responsive(src='images/team/team-1.jpg', alt='')
                |                                 
                .team-details
                  h4 John Doe
                  |                                     
                  .designation Senior Web Developer
                  |                                     
                  ul(style='text-align: center;')
                    li
                      a(href='#')
                        i.fa.fa-facebook
                    |                                         
                    li
                      a(href='#')
                        i.fa.fa-twitter
                    |                                         
                    li
                      a(href='#')
                        i.fa.fa-linkedin
                    |                                         
                    li
                      a(href='#')
                        i.fa.fa-dribbble
                    |                                         
                    li
                      a(href='#')
                        i.fa.fa-google-plus
            |                         
            .col-md-3.col-sm-6
              .team-member
                img.img-responsive(src='images/team/team-2.jpg', alt='')
                |                                 
                .team-details
                  h4 John Doe
                  |                                     
                  .designation Senior Web Developer
                  |                                     
                  ul(style='text-align: center;')
                    li
                      a(href='#')
                        i.fa.fa-facebook
                    |                                         
                    li
                      a(href='#')
                        i.fa.fa-twitter
                    |                                         
                    li
                      a(href='#')
                        i.fa.fa-linkedin
                    |                                         
                    li
                      a(href='#')
                        i.fa.fa-dribbble
                    |                                         
                    li
                      a(href='#')
                        i.fa.fa-google-plus
            |                         
            |                         
            .col-md-3.col-sm-6
              .team-member
                img.img-responsive(src='images/team/team-3.jpg', alt='')
                |                                 
                .team-details
                  h4 John Doe
                  |                                     
                  .designation Senior Web Developer
                  |                                     
                  ul(style='text-align: center;')
                    li
                      a(href='#')
                        i.fa.fa-facebook
                    |                                         
                    li
                      a(href='#')
                        i.fa.fa-twitter
                    |                                         
                    li
                      a(href='#')
                        i.fa.fa-linkedin
                    |                                         
                    li
                      a(href='#')
                        i.fa.fa-dribbble
                    |                                         
                    li
                      a(href='#')
                        i.fa.fa-google-plus
            |                         
            |                         
            .col-md-3.col-sm-6
              .team-member
                img.img-responsive(src='images/team/team-4.jpg', alt='')
                |                                 
                .team-details
                  h4 John Doe
                  |                                     
                  .designation Senior Web Developer
                  |                                     
                  ul(style='text-align: center;')
                    li
                      a(href='#')
                        i.fa.fa-facebook
                    |                                         
                    li
                      a(href='#')
                        i.fa.fa-twitter
                    |                                         
                    li
                      a(href='#')
                        i.fa.fa-linkedin
                    |                                         
                    li
                      a(href='#')
                        i.fa.fa-dribbble
                    |                                         
                    li
                      a(href='#')
                        i.fa.fa-google-plus
          // /.row
    // End Team Member Section
    // Start Latest News Section
    #news-modal.section-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
      .modal-content
        .close-modal(data-dismiss='modal')
          .lr
            .rl
        |                 
        |                 
        .container
          .row
            .section-title.text-center
              h3 Exclusive News
              |                             
              p Duis aute irure dolor in reprehenderit in voluptate
          |                     
          .row
            .col-md-6
              .latest-post
                img.img-responsive(src='images/blog-01.jpg', alt='')
                |                                 
                h4
                  a(href='#') Standard Post with Image
                |                                 
                .post-details
                  ul
                    li
                      i.fa.fa-user
                      |  Auther : iThemesLab
                    |                                         
                    li
                      i.fa.fa-calendar
                      |  07 Aug, 2014
                    |                                         
                    li
                      i.fa.fa-tag
                      |  Music
                |                                 
                p
                  | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.
            |                         
            |                         
            .col-md-6
              .latest-post
                img.img-responsive(src='images/blog-02.jpg', alt='')
                |                                 
                h4
                  a(href='#') Standard Post with Image
                |                                 
                .post-details
                  ul
                    li
                      i.fa.fa-user
                      |  Auther : iThemesLab
                    |                                         
                    li
                      i.fa.fa-calendar
                      |  07 Aug, 2014
                    |                                         
                    li
                      i.fa.fa-tag
                      |  Music
                |                                 
                p
                  | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.
            |                         
            |                         
            .col-md-6
              .latest-post
                img.img-responsive(src='images/blog-03.jpg', alt='')
                |                                 
                h4
                  a(href='#') Standard Post with Image
                |                                 
                .post-details
                  ul
                    li
                      i.fa.fa-user
                      |  Auther : iThemesLab
                    |                                         
                    li
                      i.fa.fa-calendar
                      |  07 Aug, 2014
                    |                                         
                    li
                      i.fa.fa-tag
                      |  Music
                |                                 
                p
                  | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.
            |                         
            |                         
            .col-md-6
              .latest-post
                img.img-responsive(src='images/blog-04.jpg', alt='')
                |                                 
                h4
                  a(href='#') Standard Post with Image
                |                                 
                .post-details
                  ul
                    li
                      i.fa.fa-user
                      |  Auther : iThemesLab
                    |                                         
                    li
                      i.fa.fa-calendar
                      |  07 Aug, 2014
                    |                                         
                    li
                      i.fa.fa-tag
                      |  Music
                |                                 
                p
                  | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.
    // End Latest News Section
    // Start Contact Section
    #contact-modal.section-modal.modal.fade.contact(tabindex='-1', role='dialog', aria-hidden='true')
      .modal-content
        .close-modal(data-dismiss='modal')
          .lr
            .rl
        |                 
        |                 
        .container
          .row
            .section-title.text-center
              h3 Contact With Us
              |                             
              p Duis aute irure dolor in reprehenderit in voluptate
          |                     
          .row
            .col-md-4
              .footer-contact-info
                h4 Contact info
                |                                 
                ul
                  li
                    strong E-mail :
                    |  your-email@mail.com
                  |                                     
                  li
                    strong Phone :
                    |  +8801-6778776
                  |                                     
                  li
                    strong Mobile :
                    |  +8801-45565378
                  |                                     
                  li
                    strong Web :
                    |  yourdomain.com
            |                         
            |                         
            .col-md-4
              .footer-social.text-center
                ul
                  li
                    a(href='#')
                      i.fa.fa-twitter
                  |                                     
                  li
                    a(href='#')
                      i.fa.fa-facebook
                  |                                     
                  li
                    a(href='#')
                      i.fa.fa-linkedin
                  |                                     
                  li
                    a(href='#')
                      i.fa.fa-google-plus
                  |                                     
                  li
                    a(href='#')
                      i.fa.fa-dribbble
            |                         
            |                         
            .col-md-4
              .footer-contact-info
                h4 Working Hours
                |                                 
                ul
                  li
                    strong Mon-Wed :
                    |  9 am to 5 pm
                  |                                     
                  li
                    strong Thurs-Fri :
                    |  12 pm to 10 pm
                  |                                     
                  li
                    strong Sat :
                    |  9 am to 3 pm
                  |                                     
                  li
                    strong Sunday :
                    |  Closed
          // /.row
          .row(style='padding-top: 80px;')
            .col-md-12
              form#contactForm(name='sentMessage', novalidate='')
                .row
                  .col-md-6
                    .form-group
                      input#name.form-control(type='text', placeholder='Your Name *', required='', data-validation-required-message='Please enter your name.')
                      |                                             
                      p.help-block.text-danger
                    |                                         
                    .form-group
                      input#email.form-control(type='email', placeholder='Your Email *', required='', data-validation-required-message='Please enter your email address.')
                      |                                             
                      p.help-block.text-danger
                    |                                         
                    .form-group
                      input#phone.form-control(type='tel', placeholder='Your Phone *', required='', data-validation-required-message='Please enter your phone number.')
                      |                                             
                      p.help-block.text-danger
                  |                                     
                  .col-md-6
                    .form-group
                      textarea#message.form-control(placeholder='Your Message *', required='', data-validation-required-message='Please enter a message.')
                      |                                             
                      p.help-block.text-danger
                  |                                     
                  .clearfix
                  |                                     
                  .col-lg-12.text-center
                    #success
                    |                                         
                    button.btn.btn-primary(type='submit') Send Message
    // End Contact Section
    // Start Testimonial Section
    #testimonial-modal.section-modal.modal.fade.contact(tabindex='-1', role='dialog', aria-hidden='true')
      .modal-content
        .close-modal(data-dismiss='modal')
          .lr
            .rl
        |                 
        |                 
        .container
          .row
            .section-title.text-center
              h3 Client&apos;s Speech About Us
              |                             
              p Duis aute irure dolor in reprehenderit in voluptate
          |                     
          .row
            .col-md-6
              .testimonial
                img.img-responsive(src='images/team/manage-1.png', alt='...')
                |                                 
                h4 John Doe
                |                                 
                .speech
                  p
                    | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
            |                         
            |                         
            .col-md-6
              .testimonial
                img.img-responsive(src='images/team/manage-2.png', alt='...')
                |                                 
                h4 John Doe
                |                                 
                .speech
                  p
                    | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
            |                         
            |                         
            .col-md-6
              .testimonial
                img.img-responsive(src='images/team/manage-3.png', alt='...')
                |                                 
                h4 John Doe
                |                                 
                .speech
                  p
                    | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
            |                         
            |                         
            .col-md-6
              .testimonial
                img.img-responsive(src='images/team/manage-4.png', alt='...')
                |                                 
                h4 John Doe
                |                                 
                .speech
                  p
                    | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
          // /.row
    // End Testimonial Section
