@import url(http://fonts.googleapis.com/css?family=Lato:300,400);
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

body {
	background: #fafafa;
	color: #0D1113;
	/*color: #fcfcfc;*/
	font-size: 100%;
	line-height: 1.25;
	font-family: 'Lato', 'Avenir Next', Arial, sans-serif;
}

.instructionStyle{
	width:850px;
	font-size: 18px;
	text-align: justify;
    text-justify: inter-word;
	/*height:150px;*/
	position:absolute;
	left:35%;
	top:26%;
	margin:-75px 0 0 -135px;
	background: #86AAC4;
	padding: 40pt;
	border-radius: 5px; 
}

.relative {
    position : relative;
    left: 88%
}

